body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  border: 4px solid gray;
  height: 100vh;
}

header {
  background-image: url("assets/img/header.png");
  border-bottom: 2px solid darkgray;
  padding: 2px 0 2px 20px;
  height: 10vh;
  color: white;
}

main {
  height: auto;
  background-color: rgb(228, 240, 247);
  height: 84vh;
  overflow: scroll;
}

footer {
  height: 5vh;
  margin-top: auto;
  border-top: 2px solid darkgray;
  background-color: rgb(216, 215, 215);
  padding-left: 10px;
}

.playlist-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 3.5vw;
}

.playlist-cards {
  margin: 10px 3.5vw 10px 0;
  width: 20vw;
  height: 40vh;
  border: 2px solid darkgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color:rgb(249, 243, 235);
  transition: box-shadow 0.3s ease-in-out, scale 0.3s ease-in-out;
  box-shadow: 0 0 0 darkgray;
}
.playlist-cards:hover,
.playlist-cards:focus {
  cursor: pointer;
  background-color:rgb(238, 228, 215);
  box-shadow: 10px 10px 20px lightgray;
  scale: 1.04
}

.playlist-img {
  width: auto;
  height: 25vh;
  border-radius: 10px;
  object-fit: cover;
}

.playlist-title,
.playlist-author {
  margin-top: 1.5vh;
  padding-left: 0.5vw;
  margin-bottom: 0;
}

.playlist-like {
  margin-top: 2vh;
  padding-left: 0.5vw;
  display: flex;
  align-items: center;
  gap: 5px;
}

.highlight-like.material-symbols-outlined {
  color: red;
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* Change to light red if hovered */
.material-symbols-outlined:hover,
.material-symbols-outlined:focus {
  cursor: pointer;
  color: lightcoral;
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgb(228, 240, 247);
  margin: 10vh auto;
  padding: 20px;
  border: 2px solid darkgray;
  border-radius: 15px;
  width: 60vw;
  height: 70vh;
  overflow: auto;
  box-shadow: 30px 30px 40px black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-img-title-author {
  height: 25vh;
  display: flex;
  justify-content: flex-start;
}

.modal-playlist-image {
  width: auto;
  height: 25vh;
  border-radius: 10px;
  border: 1px solid gray;
}

.modal-title-author {
  margin-left: 20px;
}

.shuffle-btn {
  font-size: 18px;
  background-color:rgb(249, 243, 235);
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.shuffle-btn:hover,
.shuffle-btn:focus {
  background-color:rgb(238, 228, 215);
  cursor: pointer;
}

.modal-songs {
  margin-top: 15px;
}

.song {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid darkgray;
  margin: 5px 0 5px 0;
  background-color:rgb(249, 243, 235);
}

.modal-song-image {
  width: auto;
  height: 10vh;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 0 20px 0 10px;
}

.duration {
  color: #aaa;
  margin: 0 20px 0 auto;
}
